---
import Layout from "../../layouts/Layout.astro";
export const pageTitle = "Sample Assignment";
---

<Layout title={pageTitle}>
  <ul>
  <li>Famous twink adoption center</li>
  <li>How to spot a twink</li>
  <li>Twink olympics?</li>
  <li>My dog’s fake weightloss journey</li>
  <li>Don't want to go into work? Find your look alike and hire them for the day</li>
  <li>Things that would send a victorian child into a coma</li>
</ul>

</Layout>

<style>
  h1 {
    color: blue;
  }
</style>
