---
import Layout from "../../layouts/Layout.astro";
import Button from "src/components/Button.astro";
export const pageTitle = "Project 01 Proposal";
import {Content as Projectcontent} from "src/components/markdown/p1content.md";
---

<Layout title={pageTitle}>
  <h1>Project 01 Proposal</h1>
  <h2>Brainstormed Topics:</h2>
  <ul>
  <li>Famous twink adoption center</li>
  <li>How to spot a twink</li>
  <li>Twink olympics?</li>
  <li>My dog’s fake weightloss journey</li>
  <li>Don't want to go into work? Find your look alike and hire them for the day</li>
  <li><strong>Things that would send a victorian child into a coma</strong></li>
</ul>
<div class="chosen-topic">
  <h3><strong> Chosen Topic: </strong> Things that would send a victorian child into a coma</h3>
<Button title="Content Doc" href="https://docs.google.com/document/d/1Zy32dGgTk3QniiXXyTZ1vVghfMSg3IPPUe4IJvCrLGo/edit?usp=sharing"/>
</div>
<h2>Content Markdown:</h2>
<div class="content">
  <Projectcontent> </Projectcontent>
</div>
<h2>Style Tiles:</h2> 
<iframe src="https://embed.figma.com/design/duhqzF8fq31OTT6A1GZ0p5/Style-Tiles?node-id=0-1&embed-host=share" allowfullscreen></iframe>
</Layout>

<style>
  .content {
       display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: black;
    border: 2px solid black;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    padding: 8px 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.409);
    margin-top: 2rem;
    margin-right: 20px;
  }
  h1 {
    color: blue;
  }
  h2 {
    text-decoration: underline;
  }
 .chosen-topic {
  display: flex;
    margin-top: 2rem;
    border: 2px solid black;
    border-radius: 25px;
    width: fit-content;
    padding: .5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.409);
  }
  iframe {
    width: 90%;
    height: 600px;
    border: black 5px solid;
    margin-top: 2rem;
    margin-right: 2rem;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.409);
  }

</style>
