---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Home">
  <h1>Hey there!</h1>
  <h3>Im <strong>Christian</strong>(not the religion tho - im an athiest)</h3>
  </Layout>

<style>
  .layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    gap: 0.5em;
  }
  h1 {
    font-size: 5rem;
  }
  h3 {
    font-size: 3rem;
  }
  strong {
    color: var(--color-primary);
  }
