---
import Layout from "../layouts/CompactLayout.astro";

---

<Layout title="Home">
  <div class="home">
  <h1>Hey there!</h1>
  <h2>Im <strong>Christian.</strong></h2>
  <h3>(not the religion though - i'm an athiest.)</h3>
  <div style="display: flex; flex-direction: row;">
  <span class="dot1"></span>
  <span class="dot2"></span>
  <span class="dot3"></span>
  </div>
  </div>
  
  </Layout>

<style>
  .home {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 0px;
    padding: 50px;
  }

  h1 {
    font-size: 9vw;
    color: rgb(255, 255, 255);
    background-color: blue;
    width: fit-content;
    padding: 20px;
    border-radius: 25px;
    margin: 0px;
    animation: forwards;

  }
  h2 {
    text-align: justify;
    font-size: 9vw;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    width: fit-content;
    padding: 20px;
    border-radius: 25px;
    margin: 0px;
  }
  strong {
    color: blue ;
    font-weight: 1000;
    font-size: 10vw;
  }
  strong:hover {
    text-decoration: line-through;
    color:black;
  }
  h3 {
    font-size: 4vw;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 25px;
    width: fit-content;
    padding: 20px;
    margin: 0px;
  }
  span {
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  margin: 0px;

}
.dot1 {
  background-color: blue;
}
.dot2 {
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
}
.dot3 {
  background-color: rgb(0, 0, 0);
}
.dot1:hover {
   background-color: rgb(255, 255, 255);
  border: 2px solid black;
}
.dot2:hover {
   background-color: rgb(0, 0, 0);
}
.dot3:hover {
   background-color: blue;
}
</style>