---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Home" class="home">
  <h1>Hey there!</h1>
  <h2>Im <strong>Christian.</strong></h2>
  <h3>(not the religion though - im an athiest.)</h3>
  <span class="dot1"></span>
  <span class="dot2"></span>
  <span class="dot3"></span>
  </Layout>

<style>

  h1 {
    font-size: 4rem;
    color: rgb(255, 255, 255);
    background-color: blue;
    width: fit-content;
    padding: 20px;
    border-radius: 25px;
    margin: 0px;
    margin-top: 20px;
  }
  h2 {
    text-align: justify;
    font-size: 4rem;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    width: fit-content;
    padding: 20px;
    border-radius: 25px;
    margin: 0px;
  }
  strong {
    color: blue ;
    font-weight: 1000;
  }
  h3 {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 25px;
    width: fit-content;
    padding: 20px;
    margin: 0px;
  }
  span {
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  display: inline-block;
}
.dot1 {
  background-color: blue;
}
.dot2 {
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
}
.dot3 {
  background-color: rgb(0, 0, 0);
}
  
</style>