---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Frame from "/workspaces/christiandw2/src/components/Frame.astro";
---

<Layout title="Home">
  <h1>Welcome!</h1>
  <Frame title="hello kitten"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis tenetur veniam id dolor ut ratione, error voluptatibus! Odio facere accusamus tempore, ex error, eligendi similique beatae voluptates rerum unde libero.</Frame>
  <Button title="Go Home "/>
  <p>This is your Design for the Web 2 starter site.</p>
  <p>
    Feel free to start editing this page in <code>src/pages/index.astro</code>
  </p>
  
</Layout>
