---
const {title="Button",href="/"} = Astro.props;
---

<button class="btn-home" href={href}>{title}</button>
<style>
    .btn-home {
    display: flex;
    width: fit-content;
    background-color: black;
    border: 2px solid black;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    padding: 8px 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.409);
    margin: 10px;
    }

  .btn-home:hover {
    background-color: white;
    color: black;
  }
}
    </style>